
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Daily pun: I got a new pair of gloves today, but they're both 'lefts' which, on the one hand, is great, but on the other, it's just not right.
    </div>
</body>
</html>
